.Header {
  height: 110px;
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
}
header > a {
  height: 100%;
}
header img {
  max-height: 70%;
  border: 1px solid red;
}
nav {
  display: flex;
  gap: 30px;
}
