.homePage > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  /* border: 1px solid blue; */
}
.offerCard {
  /* border: 1px solid red; */
  width: 180px;
  height: 300px;
  margin: 10px;
}
.offerCard .avatarImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* border: 1px solid green; */
}

.offerCard .productImage {
  width: 98%;
  height: 75%;
  /* border: 2px solid black; */
}
