.homePage > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.offerCard {
  border: 1px solid red;
  width: 180px;
  height: 200px;
}
.offerCard img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Ce code code CSS ne sert à rien, il faut le modifier pour cibler les images du produit */
.offerCard p img {
  /* styles spécifiques pour les images à l'intérieur des éléments <p> dans .offerCard */
  /* par exemple : */
  width: 100%;
  height: 360px;
}
